[submodule "themes/loveit"]
	path = themes/loveit
	url = https://github.com/mdshadatrahman/LoveIt-portfolio.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
